.home {
  width: 90%;
  height: 100vh;
}
.slick-slide {
  transition: transform 0.5s ease;
}

.slider_image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 400px;
}

.home_about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0px;
}
.home_about_inner {
  width: 20%;
}
.home_text_heading {
  font-size: 30px;
}
.home_text_des {
  font-style: italic;
}
.home_book {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #333333;
}
button > a {
  color: white;
  text-decoration: none;
}
.home_book button {
  color: white;
  border: none;
  outline: none;
  background-color: #333333;
  cursor: pointer;
}
.recommended {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommended_events {
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Enables horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling effect */
  flex-wrap: nowrap;
}
.recommended_events a {
  text-decoration: none;
  color: black;
}
.recommended_events > div {
  /* display: flex;
    flex-direction: column; */
  margin: 0px 20px;
}
.recommended_events img {
  width: 15rem;
  height: 20rem;

  /* border-radius: 5px; */
}
.bold {
  font-size: 20px;
  font-weight: 500;
}
.contact {
  /* margin: 10px 0px; */
  padding: 5rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 240, 236);
}
.form {
  display: flex;
  flex-direction: column;
  width: 18%;
}
.form p {
  margin-top: 0px;
  margin-bottom: 15px;
}
.input_field {
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}
.input_field > input {
  border: none;
  outline: none;
  background-color: rgb(243, 240, 236);
}

.form > button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}
.contact_text {
  width: 20%;
  margin-right: 8rem;
}
.contact_text_heading {
  font-size: 40px;
  display: flex;
  align-items: center;
}
.contact_text_heading img {
  height: 2rem;
  margin-left: 20px;
}
.slider-container {
  position: relative;
}
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3e4143;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev-arrow {
  left: 1rem; /* Position left arrow */
}

.next-arrow {
  right: 1rem; /* Position right arrow */
}
.profile_container{
  display: flex;
  margin: 1rem 0;
}
.profile_initials{
  margin-right: 1rem;
  padding: 20px;
  border-radius: 50%;
  background-color: #333333;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
}
.profile_welcome{
  font-size: 1.5rem;
  font-weight: 800;
  color: #2E2F31;
}
.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}
.profile_additional_info{
  color: #371783;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: underline;
}
.what{
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0rem;
}
.courses_list{
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.courses_list img {
  width: 100%;
}
.course{
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 10px;
}
.course > p{
  padding: 0;
  margin: 0;
}
.CourseList{
  width: 90%;
}
.CourseList{
  height: 100%;
}